.intro {
  text-align: center;
  color:lightsalmon;
  font-weight: bolder;
}

.jumbotron {
  background: transparent
}

.body {
  background-color: lightpink;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.selfie {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar {
  Float: right;
  background-color: lightsalmon;
  height: 1300px;
  width: 300px;
  font-style: italic;
  border-radius: 25px;
}

.sidebar-header {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
}

.about {
  float: left;
  text-decoration: underline;
  margin-left: 0px;
  font-weight: bold;
}

.card1 {
  float: left;
  width: 800px;
  background-color: bisque;
  border-radius: 25px;
}

.card2 {
  float: left;
  width: 800px;
  height: 150px;
  background-color: bisque;
  padding-top: 5px;
  border-radius: 25px;
}

.card-text {
  padding-left: 15px;
}

.pets {
  text-decoration: underline;
  text-align: left;
  margin-top: 10px;
  font-weight: bold;
}
.dog {
  display: block;
  float:left;
  width: 50%;
}

.cat {
  display: block;
  float: left;
  width: 48%;
  border: 5px black;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 0px;
}

.background {
  text-align: center;
  margin: 100px;
}

.important {
  font-weight: bold;
}


